<%- include('../doc-start') %>

<body>
    <%- include('../header') %>

    <center>
        <form method='POST' enctype='multipart/form-data' action='/products'>
            <fieldset class='mt-3 w-500'>
                <%
                    if (record) {
                        var cost_pln = record.cost.toString().slice(0, -2),
                            cost_gr = record.cost.toString().substr(-2)
                    }
                %>

                <% if (record) { %>
                    <legend>Edytuj produkt</legend>
                <% } else { %>
                    <legend>Dodaj produkt</legend>
                <% } %>

                <input type='hidden' name='id' value='<%= record?.id %>'>

                <table class='table-fixed w-80'>
                    <colgroup>
                        <col class='w-auto'>
                        <col class='w-70'>
                    </colgroup>

                    <tr>
                        <td>Nazwa</td>
                        <td><input class='w-full' name='name' value='<%= record?.name %>' autofocus></td>
                    </tr>

                    <tr>
                        <td>Cena (zł)</td>
                        <td>
                            <input class='w-full' type='number' min='0' max='9999' name='cost_pln'
                                   value='<%= cost_pln %>'>
                        </td>
                    </tr>

                    <tr>
                        <td>Cena (gr)</td>
                        <td>
                            <input class='w-full' type='number' min='0' max='99' name='cost_gr' value=<%= cost_gr %>>
                        </td>
                    </tr>

                    <tr>
                        <td>Kategoria</td>
                        <td>
                            <select class='w-full' name='categoryId'>
                                <% if (record) { %>
                                    <option selected value=<%= record.categoryId %>><%= record.category.name %></option>
                                <% } %>

                                <% categories.filter($ => $.name != record?.category.name).forEach($ => { %>
                                    <option value=<%= $.id %>><%= $.name %></option>
                                <% }) %>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Producent</td>
                        <td>
                            <select class='w-full' name='manufacturerId'>
                                <% if (record) { %>
                                    <option selected value=<%= record.manufacturerId %>>
                                        <%= record.manufacturer.name %>
                                    </option>
                                <% } %>

                                <% manufacturers.filter($ => $.name != record?.manufacturer.name).forEach($ => { %>
                                    <option value=<%= $.id %>><%= $.name %></option>
                                <% }) %>
                            </select>
                        </td>
                    </tr>

                    <% if (!record) { %>
                        <tr>
                            <td>Zdjęcie</td>
                            <td><input type='file' name='img' accept='image/png, image/jpeg' required></td>
                        </tr>
                    <% } %>
                </table>
            </fieldset>

            <input class='mt-1' type='submit' value='Zapisz'>
        </form>
    </center>
</body>

<%- include('../doc-end') %>
