<%- include('../doc-start') %>

<body>
    <%- include('../header') %>

    <%- include('../search', {url, search}) %>

    <%- include('../table', {records}) %>
</body>

<%- include('../doc-end') %>
