<div class='flex py-6' data-scope='card'>
    <div class='h-24 w-24 flex-shrink-0 overflow-hidden border border-gray-200
                rounded-md'>
        <img class='h-full w-full object-cover object-center'
             src='<%= $.img %>'>
    </div>

    <div class='flex flex-1 flex-col ml-4'>
        <div>
            <div class='flex justify-between font-medium'>
                <a href='#'><%= $.name %></a>

                <p class='ml-4'><%= parsePLN($.subtotal) %></p>
            </div>
            <p class='mt-1 text-sm text-gray-500'><%= parsePLN($.cost) %></p>
        </div>

        <div class='flex flex-1 items-end justify-between text-sm'>
            <div>
                <span class='text-gray-500'>Ilość: </span>

                <span class='text-gray-800'><%= $.amount %></span>

                <button class='pl-1 border-l text-emerald-600
                               hover:text-emerald-500 hover:cursor-pointer'>
                    <span class='font-medium text-[.75rem]'>Edytuj</span>
                </button>
            </div>

            <form class='hidden text-sm'
                  method='POST' action='?_method=PATCH'>
                <input type='hidden' name='id' value='<%= $.id %>'>

                <input class='py-1.5 w-[9ch] border border-gray-200 rounded-md'
                       type='number' name='amount' value='<%= $.amount %>'
                       min='1' max='999'>

                <input class='ml-1 font-medium text-[.75rem] text-emerald-600
                              hover:text-emerald-500 hover:cursor-pointer'
                       type='submit' value='Zapisz'>
            </form>

            <form method='POST' action='?id=<%= $.id %>&_method=DELETE'>
                <input class='font-medium text-emerald-600
                              hover:text-emerald-600 hover:cursor-pointer'
                       type='submit' value='Usuń'>
            </form>
        </div>
    </div>
</div>

<script defer>
    document.querySelectorAll('div[data-scope="card"]').forEach(card => {
        card.querySelector('input[type="number"]').oninput = function () {
            this.validity.valid ? undefined : this.value = 1
        }
        card.querySelector('button').onclick = function () {
            card.parentElement.querySelectorAll('button').forEach($ => {
                $.classList.toggle('hidden')
            })
            this.parentElement.classList.toggle('hidden')
            card.querySelector('form').classList.toggle('hidden')
        }
    })
</script>
